// PRIMARY COLORS
$color-primary: #7ed56f;
$color-primary-light: #55c57a91;
$color-primary-dark: #28b485;
$color-accent-white: #fff;

$color-black: rgb(0, 0, 0);

$color-grey-light-1: #f4f4f4;

// TEXT COLORS
$color-text-dark: #777;
$color-text-black: #777;

// GRID
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 2rem;